/* GENERAL STYLING */
input {
  width: 500px !important;
}

body {
  background: #edf0f2;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #005ba8;
}

/* CLASS STYLING */

.navbar-brand {
  color: #ffc20e !important;
  font-size: 27px;
}

.chatBoxContainer {
  border-radius: 25px;
  background: gainsboro;
  padding: 20px;
}

.chatMessages {
  display: flex;
}

.chatAvatar {
  flex: 1;
}

.chatUserDetails {
  flex: 4;
}

.chatUserName {
  font-weight: bold;
  font-size: 22px;
}

.navbar {
  margin-bottom: 50px;
}

.streamContainer {
  text-align: center;
  display: flex;
}

.searchContainer {
  text-align: center;
}

.search-bar {
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.streamPlayer {
  flex: 1;
  /* background: red; */
  height: 500px;
}

.streamPlayerContainer {
  flex: 1;
}

/* .streamVideoPlayer {
  width: 650;
  height: 650;
} */
.barChart {
  width: 100% !important;
  height: 400px !important;
}

.streamList {
  flex: 1;
  /* background: green; */
  height: 500px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
