/* GENERAL STYLING */
input {
  width: 500px !important;
}

/* CLASS STYLING */
.navbar {
  margin-bottom: 50px;
}

.streamContainer {
  text-align: center;
  display: flex;
}

.searchContainer {
  text-align: center;
}

.search-bar {
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.streamPlayer {
  flex: 1;
  /* background: red; */
  height: 500px;
}

.streamPlayerContainer {
  flex: 1;
}

/* .streamVideoPlayer {
  width: 650;
  height: 650;
} */

.streamList {
  flex: 1;
  /* background: green; */
  height: 500px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
